[user]
	name = "Shivam"
	email = =
[column]
	ui = auto
[branch]
	sort = -committerdate
[tag]
	sort = version:refname
[diff]
	algorithm = histogram
	colorMoved = plain
	renames = true
	mnemonicPrefix = true
[push]
	default = simple
	autoSetupRemove = true
[commit]
	verbose = true
[init]
	defaultBranch = main
[alias]
  branch-name = !git rev-parse --abbrev-ref HEAD
  publish = !git push -u origin $(git branch-name)
  cleanse = "! git branch -vv | grep 'origin/.*: gone]' | awk '{print $1}' | xargs git branch -D"   # delete branches where the corresponding remote branch is deleted
  co = checkout
  cm = commit -m
  ce = commit --allow-empty -m
  sneak = commit --amend --no-edit
  rewind = reset HEAD^
  br = branch
  a = add -A
  aliases = config --get-regexp alias
  edit = config --global --edit
  obi1 = push --force-with-lease
  s = status
  lg = log --oneline --graph --decorate # View Git log in one-line format
  trim = remote prune origin
  org = "!git fetch origin && git reset --hard origin/$(git branch --show-current)" # reset to origin
[pager]
	branch = false
[core]
	editor = nvim
[credential]
	helper = manager
